<p style="color: green"><%= notice %></p>

<%= render @board %>

<div>
  <%= link_to "Editar este tablero", edit_board_path(@board) %> |
  <%= link_to "Volver a tableros", boards_path %>

  <%= button_to "Eliminar", @board, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
</div>
