<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place %>
  </div>

    <div>
    <h4>Tags:</h4>
    <%= form.fields_for :tags do |a| %>
      <%= a.label         :name, style: "display: block" %>
      <%= a.text_field    :name %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
