<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= post.place %>
  </p>

  <p>
    <strong>Descrition:</strong>
    <%= post.descrition %>
  </p>

    <p>
      <strong>Tags:</strong>
        <% if post.tags.any? %>
          <% post.tags.each do |q| %>
            <%= q.name %> 
          <% end %>
        <% else %>
          <p>Sin etiquetas</p>
        <% end %>
    </p>
</div>
