<div id="<%= dom_id post %>">

  <div class="card  mb-3" style="width: 12rem;">
    <%= link_to (image_tag "ejemplo.jpg", class: "card-img-top"), post %> 
    <div class="card-body">

      <% @aa = post.title %>
      <h5 class="card-title"><%= link_to @aa, post %></h5>

      <h5 class="card-title"></h5>
      <p class="card-text"><%= post.place %></p>
      <p class="card-text text-muted">User ID: <%= post.user_id %></p>
      <p class="card-text text-muted">
        <% if post.tags.any? %>
          <% post.tags.each do |q| %>
            #<%= q.name %> 
          <% end %>
        <% else %>
          <p class="card-text text-muted">Sin etiquetas</p>
        <% end %> 
      </p>
    </div>
  </div>

</div>

