<div id="<%= dom_id post %>">
  <% @usuario = User.find_by_id(post.user_id) %>

  <div class="card  mb-3" style="width: 12rem;">
    <%= link_to (image_tag "ejemplo.jpg", class: "card-img-top"), post %> 
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{post.title}", post %></h5>
      <h5 class="card-title"></h5>
      <p class="card-text"><%= post.place %></p>
      <p class="card-text text-muted">Foto de: <%= link_to "#{@usuario.name}", posts_path(user_id: post.user_id ) %></p> <%# cambiar mail por nombre %>
      <p class="card-text text-muted">
        <% if post.tags.any? %>
          <% post.tags.each do |q| %>
            #<%= link_to "#{q.name}", root_path, class: "text-muted"  %> <%# Cambiar por ruta de los tag %>
          <% end %>
        <% else %>
          <p class="card-text text-muted">Sin etiquetas</p>
        <% end %> 
      </p>
    </div>
  </div>

</div>

