<p style="color: yellow"><%= notice %></p>

<%= render @post %>

<% if @post.photos.attached? %> <%# Imágenes adjuntas %>
  <div class="row">
    <% @post.photos.each do |foto| %>
      <div class="col">
          <%= link_to image_tag(foto, class: "card col-12"), @post %>
      </div>
    <% end %>
  </div>
<% end %>

<div>
  <%= link_to "Editar esta foto", edit_post_path(@post) %> |
  <%= link_to "Volver a fotos", posts_path %>

  <%= button_to "Eliminar", @post, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
</div>
