<p style="color: yellow"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Editar esta foto", edit_post_path(@post) %> |
  <%= link_to "Volver a fotos", posts_path %>

  <%= button_to "Eliminar", @post, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
</div>
